<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HY6PFDKF4H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-HY6PFDKF4H');
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<link rel="icon" href="https://raw.githubusercontent.com/wgalka/lazysolutions/master/src/assets/images/logo/LS.svg"
  type="image/svg+xml">

<link rel="stylesheet" href="https://si.lazysolutions.pl/style/c_style.css">

<!-- Pure script -->
<!-- <script type="text/javascript"
  src="https://unpkg.com/mermaid@8.0.0-rc.8/dist/mermaid.min.js">
</script>
<script>
$(document).ready(function() {
    mermaid.initialize({
        theme: 'forest'
    });
});
</script> -->
<!-- Wygrenderowane -->
{% include "mermaid.html" %}
<!-- Includowane -->
<!-- {% include "marmaid.html" %} -->
